<p style="color: green"><%= notice %></p>

<%= render @user %>

<div>
  <%= link_to t(".edit"), edit_user_path(@user) %> |
  <%= link_to t(".back"), users_path %>
  <%= button_to t(".dest"), @user, method: :delete,class:'btn btn-success' %>
</div>
